
.swiper-button-next,
.swiper-button-prev {
  color: #eab308;
  /* gold-600 */
  width: 2rem;
  height: 2rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 9999px;
  background: rgba(0,0,0,0.12);
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.2rem;
  font-weight: bold;
}


.swiper-button-next {
  right: -1.5rem;
}
.swiper-button-prev {
  left: -1.5rem;
}

@media (max-width: 640px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
  }
}
